In [45]:
import pandas as pd
import os

In [46]:
# Files to load
student_data_to_load = os.path.join("Resources", "students_complete.csv")
school_data_to_load = os.path.join("Resources", "schools_complete.csv")

In [47]:
# Read the student data file and store it in a Pandas DataFram
student_data_df = pd.read_csv(student_data_to_load)
student_data_df
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [48]:
# Define the function "say_hello" so it prints "Hello!" when called
def say_hello():
    print("Hello!")

In [49]:
say_hello()

Hello!

In [50]:
def say_something():
    print("Hello World")

In [51]:
say_something()

Hello World

In [54]:
say_something("hello there")

hello there

In [55]:
def square(num):
    result = num * num
    return result

In [56]:
X = square(3)
print(X)

9

In [57]:
# A list of my grades
my_grades = ['B', 'C', 'B', 'D']

In [58]:
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [59]:
# Define a function that calculate the percentage of students that passed both math and reading
#function is called
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [60]:
passing_math_count = 29379
total_student_count = 39170

In [64]:
# Call the function 
passing_math_percent(passing_math_count, total_student_count)

75.00382946132244

In [65]:
# Change the grades by one letter grade
my_grades.map({'B':'A','C':'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [69]:
# Using the format ()function
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [70]:
# Convert the numerical grades to a Series
my_grades = pd.Series([92.34,84.56,86.78,78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [71]:
# Format the grades to the nearest whole number percent
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [52]:
del say_something
def say_something(text):
    print(text)

In [53]:
Portia_says = "Hi, my name is Portia. I'm leaning  Python!"
say_something(Portia_says)

Hi, my name is Portia. I'm leaning  Python!

In [75]:
class Cat:
    def _init_(self, name):
        self.name = name

In [77]:
first_cat = Cat('Felix')
print(first_cat)

TypeError: Cat() takes no arguments

In [ ]:
class Dog:
    def bark(self):
        return self.sound + ' ' + self.sound